.bodyContent {
    margin: 1% 5%;
    clear: both;
    /* padding: 2% 0%; */
    }
.extraBold{
    font-size: 18px;
    font-weight: 700;
}
.boldTxt{
    font-weight: 500;
    padding-bottom: 10px;
}
.titles{
    font-size: 28px;
  font-weight: 500;
  padding-bottom: 15px;
  padding-top: 68px;
  padding-left: 8%;
}
.generalText{
    text-align: left;}

#cp1{
    margin: auto; 
    
 }
 #DirContainer{
     margin-top: 5%;
     padding: 0px 60px;
 }
 .buttons{
  height: 60px;
  border-radius: 8px;
  border: solid 2px #979797;
  background-color: #ffffff;
}
#emailLink{
    color:#000000;
    text-decoration: none;
}
.cardImg{
    width: 89px;
  height: 58px;
  object-fit: contain;
}
#discoverCard{
        margin-left: 280px;
        margin-top: -79px;
}
.googleMap{
    border: solid 2px #979797;
    width: 100%;
    height: 300px;
    }

.generalText{
    font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.61;
  letter-spacing: normal;
  color: #000000;
  
}
.left-box{
    float: left;
    width: 359px;
    padding: 3% 8%;
}
#hoursOp{
    padding-top: 15px;
}

@media (min-width: 375px){
    .right-box{
    margin-left: -15%;
    }
    .right-txt-box {
        padding-top: 35%;
    }
    #discoverCard {
        margin-left: 0px; 
        margin-top: 0px; 
    }
    .generalText{
    width: 319px;}
    .left-box{
        float: left;
        width: 359px;
        padding: 8% 0%;
        margin-left: 5%;
    }
    .cardDiv{
        padding-bottom: 40px;
    }
}
@media (min-width: 500px){
    .right-txt-box {
        padding-top: 20%;
    }
    .right-box{
        margin-left: 0%;
        }
}
@media (min-width: 768px) { 
    .googleMap{
        width:100%;
        height:450px;
        border: solid 2px #979797;
    }
    .buttons{
        width: 195px;
    }
    .right-box{
        margin-left: 0%;
        }
    
    .cardDiv{
        margin-top: 40px;
    }
    .generalText{
        width: 359px;}
        .left-box{
            float: left;
            width: 359px;
            padding: 3% 8%;
        }
        .inside-panel {
            margin-left: -14%;
        }
        .cardDiv{
            padding-bottom: 0px;
        }
}
@media (min-width: 840px) { 
    #side_panel{
        margin-left: -2%;
    }
}
@media (min-width: 850px) { 
    .inside-panel {
        margin-left:0%;
}
@media (min-width: 1175px) { 
    .right-box{
        
        float: left;
}
@media (min-width: 1200px) {
    .googleMap{
        width:814px;
        height:456px;
            }
    .right-box{
        float: right;
        width: 359px;
        margin-top: -347px;
        margin-right: -20%;
    }
    
}
@media (min-width: 1300px) { 
    .googleMap{
        width:914px;
        height:456px;
        margin-left: 5px;
    }
    .right-box{
        margin-right: -12%;
    }
    .right-txt-box{
        padding-top: 25%;
    }
}
