@charset "UTF-8";
/* CSS Document 375px Small Phone size*/
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap');

body{
  font-family: 'Rubik', sans-serif;
}

#header{
/* background-color: rgba(0,0,0,1.0); */
background: url("../Images/headerimage_1.jpg");
background-repeat: no-repeat;
background-size: 110%;
height: 120px;
background-position: 0px -230px;

}
.logo-2 {
    clear: inherit;
    object-fit: contain;
    padding-top: 42px;
    width: 411px;
    margin-left: 9%;
}
.image3{
height: 120px;
}
.main_image{
  /* width: 460px; */
  width: 90%;
  /* height: 229px;*/
  margin: 5%; 
}
#phone_num{
  padding-top: 3% ;
}
.generalText{
  text-align: center;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
}
#PersonalQ{
/* width: 400px; */
  height: 102px;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.13;
  color: #000000;
  margin-top: 30px;
}
.mainText{
  font-family: Rubik;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
}
.main_coupon{
  width: 80%;
  padding: 3%;
  border-radius: 8px;
  margin-left: 10%;
}
.middleDiv{
  margin-top: -25%;
}
.costumersbox{
  width: 0px; 
    float: left; 
    margin-top: 0px; 
    margin-right: 0px;
}
#customers1{
  font-size: 24px;
  font-weight: 500;
  margin-top: 30px;
  padding: 15px 12px;
  background-color: #980000;
  color: #ffffff;
  margin: 3%;
}
#customers2{
  padding-top: 20%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  line-height: 1.5;
    font-size: 16px;
    /* width: 390px; */
    height: 335px; 
}
#customers3{
  padding-bottom:20px;
  }
  #customers4{
    padding-top: 5%;
    padding-bottom:20px;
    padding: 3%
    }
.español{
  background-color:#000000;
  color: #da9500; 
  font-size: 36px;
  font-weight: 500;
  padding: 12px 55px;
  font-weight: 500;
  line-height: 1.11;
  height: 80px;
  white-space: nowrap;
}

#side_panel{
  background-color: #230000;
}

#textbox{
  color: #ffffff;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  
  /* font-family: "Rubik-Regular";  */
}
#SaulName{
  font-size:36px;
  font-weight: 500;

}
.buttons{
  background-color:#ffffff;
  border: none;
  padding: 16px 28px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  text-decoration: none;
  color:#000000;
  border-radius: 8px;
  font-size: 24px;
  margin-left: 4%;
  margin-top: 6%;
  white-space: nowrap;
}
#email_btn{
  margin-left: 15%;
}
.coupons{
  width: 110%;
  padding: 7%;
    /* padding-left: 20%;
    padding-bottom: 30px; */
}
#footer{
  background-color:#000000;
  height: 315px;
}
.ft_logos{
  margin-left: 5%;
  /* padding: 10px 0; */
  margin-top: 40px;
  margin-bottom: 40px;
}
#ft_1logo{
  margin-left: 25%;
  width: 30px;
    height: 48px;
    object-fit: contain;
}

#ft_2logo{
  width: 67px;
  height: 48px;
  object-fit: contain;

}
#ft_3logo{
  width: 48px;
  height: 48px;
  object-fit: contain;
 
}
#ft_4logo{
  margin-right: 90px;
  width: 36px;
  height: 48px;
  object-fit: contain;

}

#ftLogo{
  padding-left: 25%;

} 
#ftText{
  padding-top: 22px;
  color: #ffffff;
  text-align: center;
  padding-left:30%;
  font-weight: 400;
  letter-spacing: normal;
  margin-bottom: 34px;
}
@media (min-width: 375px) {
  #header{
    background-position: 0px -80px;
  }
  .logo-2{
    width: 359px;
    margin: 0% 2%;
  }
  #customers2 {
    padding-top: 3%;
  }
  #espText{
    margin-left: -15%;
    
  }
  .buttons{
    margin-left: 10%;
  }
  #email_btn{
    float: left;
    /* width: 50%; */
    margin-right: -7%;
    margin-left: -3%;
    margin-left: 6%;
    /* height: 60px; */
  }
  #dir_btn{
    margin-left: 15%;
    width: 170px;
  }
  .coupons {
    width: 100%;
  }
  #ftText{
    margin-bottom: 0;
    padding-left: 0;
  }
  #ft_1logo {
    margin-left: 19%;
  }
  #ft_4logo {
     margin-right: 0px;
  }
  #ftLogo {
    padding-left: 15%;
  }
}
@media (min-width: 500px){
  header{
    width: 110%;
    }
    #espText{
      margin-left: -25px;
      margin-top: -8px;
    }
  .logo-2 {
    margin-left: 12%;
}
  #customers2{
    padding-top: 0;
  }
  .coupons{
    padding-left: 10%;
    width: 100%;
  }
  #dir_btn{
    width: 195px;
  }
  #email_btn{
    margin-left: 16%;
    width: 168px;
  }
}
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
  #header{
    background-size: 100%;
  }
  .logo-2 {
    margin-left: 28.2%;
    width: 547.5px;
    padding-top: 41px;
}
  header{
    padding: 0;
    margin:0;
  }
 
  #phone_num{
    padding: 3% 0;
    
  }
  #PersonalQ{
    padding: 0 3%;
  /* height: 174px; */
  font-size: 30px;
  font-weight: 500;
  line-height: 1.13;
  }
  .main_image{
    /* width: 100%; */
    margin-top: -5px;
  }
  .main_coupon{
    padding: 7%;
    width: 55%;
    margin-left: -6%;
    padding-left: 48px;
  }
  .middleDiv{
    margin-top: -18%;
  }
  #customers1{
    width: 90%;
    font-size: 18px;
    margin-left: 5%;
  }
  #customers2{
    padding-top: 0;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: -5%;
  }
  #side_panel{
    margin-left: -2%;
    background-color: transparent;
  }
  #top_cpn{
    margin-top: 20%;
  }
  .coupons{
    /* width: 260px;
    height: 133.3px; */
    margin-top: 5%;
    padding: 0 5%;
    
  }
  #yellowCpn{
    margin-top: 10%;
  }
  .español{
    font-size:24px;
    padding-top: 15px;
  height: 40px;
}
#espText{
  margin-left: -25%;
}

  #SaulName {
    /* width: 300px;
    font-size: 24px; */
    line-height: 1.67;
    font-size: 36px;
  font-weight: 500;
  }
  .buttons{
    margin-top: 15%;
  } 
 
  #email_btn{
    width: 168px;
      height: 60px;
      margin-left: 48%;
  }
  #dir_btn{
    width: 195px;
    height: 60px;
    margin-left: 38%;
  } 
  #footer{
    /* height: 30%;
    padding-left: 30%; */
    height: 325px;
  }
  /* .ft_logos{
    padding-top: 11%;
      padding-left: 10%;
      width: 30%;
      padding-bottom: 10%;
      width: auto;
    
  } */
  #ftLogo{padding-left: 30%;}
  /* #ft_1logo{    margin-left: 70%;}
  #ft_3logo{margin-left: -60%;}
  #ft_4logo{margin-left: -120%;} */
  /* #ftText{padding-left:40%;} */
  #customersbox{
    width: 50%;
    float: right;
    margin-top: -30%;
    margin-right: 5%;
  }
  .inside-panel{
    background-color: #230000;
    height: 1501px;
    width: 280px;
  }
}
@media (min-width: 800px) { 
    .coupons{
      width: fit-content;
      padding: 0 4%;
      /* padding: inherit;
      margin-left: 6%; */
    }
    
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
  .main_image{
    /* padding-left: 5%; */
    /* width: 110%; */
    height: 456px;
  }
  #phone_num{
    font-size: 65px;
    padding: 3% 0;
    
  }
  /* #ftText{
    padding-left:50%;
  } */
  #side_panel{
    /* padding-left: 138px; */
    padding-left: 5%;
  }
  #espText{
    margin-left: 5%;
  }
  /* #ftText{
    padding-left: 40%
  } */
  #customersbox{
    margin-left: 5%;
  }
  .main_coupon{
    margin-left: -3%;
  }
  
  #yellowCpn{
    margin-top: 10%;
  }
  #ft_1logo{
    margin-left: 35%;
  }
  #ftLogo {
    padding-left: 35%;
  }
  .inside-panel{
    width: 300px;
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
  .main_image{
    width: 914px;
    height: 456px;
  }
  #side_panel{
    clear: both;
    width: 300px;
    padding-left: 10%;
  }
  #ftText{
    padding-left: inherit;
  }
  header{
  width: 1366px;
  }
  #PersonalQ{
  width: 914px;
  height: 174px;
  font-size: 48px;
  font-weight: 500;
  line-height: 1;
  margin-top: auto;

  }
  #phone_num{
    font-size: 72px;
    padding: 3% 0;
    margin-left: 8%;
    margin-top: 3px;
    /* padding-left: 20%; */
  }
  #ftLogo {
    padding-left: 40%;
  }
}
