@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap');
body{
margin: 0;
padding: 0;
/* height: 100vh; */
font-family: 'Rubik', sans-serif;
}
header{
background: #980000;
padding-top: 20px;
padding-bottom:20px;
height: 80px;
width: -webkit-fill-available;
}
header ul{
    display: flex;
    justify-content: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 10%;
}
header ul li{
    
    list-style: none;
    position: relative;
    transition: 0.5s;
    box-sizing: border-box;
    transition: 0.5s;
     padding:0px 17px; 
    margin-left: -24px ; 
}

header ul li:last-child{
border-right: none;

}
#testimonials{
    margin-left: -0.7%
}
#contact{
    margin-left: -2.8%;
}
#trans{
    margin-left: -1.6%;
}
#offers{
    margin-left: -1.6%;
}
header ul li a {
    font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
    text-decoration: none;
    padding: 0 20px;
    color: white;
    font-size: 24px;
    font-weight: 400;
    line-height: 2;

} 
header ul li a:hover {
    color: #ff9696;
    font-weight: bold;
    text-decoration: none;
  }
 header ul li ul{
    position: absolute;
    /* top:38px; */
    left:0;
    display: block;
    /* width: 200px; */
    transition: 0.5s;
    
}

header ul li ul{
    padding-bottom: 10px;
}
#innerUL{
    display: inline-flex;
}
#mobileLink{
    display: none;
}
.outerLink{
    white-space: nowrap;
}
@media(max-width:1500px){
    /* #innerUL{
        margin-left: -250px;
    } */
    header ul li a {
        font-size: 24px;
    }
}
@media(max-width:1300px){
    #HomeLnk{
        margin-left: -50px;
    }
}
@media(max-width:1000px){
    
    /* #innerUL{
        margin-left: -120px;
    } */
    header ul li a {
        font-size: 20px;
    }
    #HomeLnk{
        margin-left: 0;
    }
    
    .outerLink{
        padding: 0 10px;
    }
}   
@media(max-width:800px){
    header ul{
        /* padding-left: -10%; */
        border-radius: 9px;
        width: 500px;
        padding-left: 0;
    }
    #innerUL{
        margin-left: -100px;
    }
    
}
@media(max-width:774px){
#innerUL{
    margin-left: -100px;
}
@media(max-width:768px){
    header ul li a {
        font-size: 15px;
    }
    .nav-list{
        display: none;
     } 
     #mobileLink{
        display: block;
        font-size: 18px;
    }
    #Menu_link{
        display: block;
        text-decoration: none;
    }
    .outerLink {
        font-size: 24px;
        
      }
    header {
    background: #980000;
    padding-top: 20px;
    padding-bottom:20px;
    height: 40%;
        
    }
    header ul{
        background-color: #230000;
        border-radius: 8px;
        width: 560px;
        /* width: 460px; */
        /* height: 47px; */
        padding-left: -10%;
    border: none;
    cursor: pointer;
    }
    
    header ul li a {
        text-decoration: none;
        /* padding: 10px 20px; */
        color: white;
        display: block;
    } 
   
    header ul li{
        display: block;

    }
    header ul li ul{
        width: 200px;
        z-index: 1;
        padding-right: 40%;
        /* margin-top: 15%; */
    }
    /* NEEDS TO CHANGE TO ACTIVE INSTEAD OF HOVER, HOVER JUST FOR TESTING PURPOSES */
    #Menu_link:hover  .nav-list, #Menu_link:active  .nav-list  {
        display: block;
        /* padding: 0 30px; */
        /* width: 50px; */
        background-color: #230000;
     } 
     #Menu_link:hover .extraHeader{
        background: #980000;
        height: 400px;
    }
     /* NEEDS TO CHANGE TO ACTIVE INSTEAD OF HOVER, HOVER JUST FOR TESTING PURPOSES */
    header > ul > li:hover {
        height: 400px;
    }
    
     .nav-list{
        width: 100px;
    }
    #HomeLnk{
        padding-top: 30px;
    }
    #innerUL{
        display: inline;
        margin-top: 25px;
        
        margin-left: 25px;
    }
    
    
} 
@media(max-width:600px){
    header ul{
        width: 80%;
    }
    /* #innerUL{
        display: inline;
        width: 460px;
    } */
}
@media(max-width:375px){
    header{
        width: 375px;
    }
    header ul{
        width: 340px;
        margin-left: 5%;
        margin-right: -15%;
    }
    /* #innerUL{
        display: inline;
        width: 340px;
    } */
}