@charset "UTF-8";
/* CSS Document 375px Small Phone size*/
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap');

.bodyContent{
    /* width: 385px; */
}
.main-ctn{
    margin: 0%;
    padding-top:60px;
    margin-left: 4%;
    padding-left: 0%;
}
span.BItext{
    font-weight: 500;
    font-style: italic;
  }
.generalText{
    font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.61;
  letter-spacing: normal;
  text-align: left;
  width: 385px;
}
#espText {
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
}
#pleaseTxt{width: 359px;}
.title{
    font-size: 36px;
  font-weight: 500;
  line-height: 1.06;
  padding-top: 7%;
}
#title3{
    /* white-space: nowrap; */
}
#greenTitle{
    color:#026b07;
}
.buttons{
  height: 60px;
  border-radius: 8px;
  border: solid 2px #979797;
  background-color: #ffffff;
}
#cp1{
   margin: auto; 

}
#cp2{
    margin: auto; 
    color: #026b07;
    margin-top: 5%;
 }
 #cp3{
    margin: auto; 
    background-color:#da9500;
    border: none;
    margin-bottom: 60px;
    margin-top: 12px;
 }
 .bodyContent{
    margin: 0% 9%;
    clear: both;
}

  #p4{
      /* padding-top: 45px; */
      width: 359px;
      padding-bottom: 40px;
}
  .titles{
    font-size: 28px;
  font-weight: 500;
}
#p2{
    width: 385px;
}
#p3{
    width: 385px;
}
.main-ctn2{
    width: 385px;
    
}
#whiteCpn {
    width: 85%;
    margin: 5% 8%;
}
@media (min-width: 360px){
    .generalText{
        width: 300px;
    }
    #title3 {
        width: 305px;
    }
}
@media (min-width: 375px){
    .main-ctn{
        padding-top: 60px;
    }
    #pleaseTxt{
        padding-right: 55px;
    }
    .generalText {
    
        width: 305px;
    }
    
    .CpnWhite {

        padding-left: 11%;
    }
    #whiteCpn {
        
        width: 260px;
        
        padding: 0px 0px;
        margin: 10% 2%;
    }
}
    
@media (min-width: 500px){
    #whiteCpn {
        width: 85%;
        margin: 10%;
}
@media (min-width: 768px) { 
    /* .inside-panel { max-height: 1350px;} */
    .inside-panel{height: 100%;
        margin-left: -14%;}
    .bodyContent{ 
        margin-top: 7%;
        width: 359px;
    }
    .main-ctn{
        margin-left: 0%;
        padding-top: 0%;
        padding-left: 4%;
    }
    .generalText {
        width: 345px;
    }
    .title{
      padding-top: 7%;
    }
    .main-ctn2{
        padding-left: 4%;
    }
    .buttons{
        width: 255px;
    }
    #whiteCpn {
        margin: 10% -8%;
        width: 260px;
    }
    
}
@media (min-width: 800px){
    /* .inside-panel { max-height: 1290px;} */
    
}
@media (min-width: 840px) { 
    #side_panel{
        margin-left: -2%;
    }
}
@media (min-width: 850px) { 
    .inside-panel {
        margin-left:0%;
    }
    .generalText {
        width: 385px;
    }
}
@media (min-width: 1115px) { 
    /* .inside-panel { max-height: 1250px;} */
    .main-ctn2{
        float: left;}
}
@media (min-width: 1190px){
    .main-ctn2{
        margin-right: -10%;}
}
@media (min-width: 1200px) { 
    /* .inside-panel { height: 1187px;} */
    .main-ctn2{
        float: right;
        
        margin-right: -4%;
        margin-top: -1040px;
        
    }
}
