@charset "UTF-8";
.titles{
    font-size: 28px;
  font-weight: 500;
  
}
 .bodyContent{
    margin: 0% 9%;
    clear: both;
}
.boldTxt{
    font-weight: 500;
    white-space: nowrap;
}
.extraBold{
    font-weight: bold;
    font-weight: 500;
    white-space: nowrap;
}
#commercialV{
    white-space: normal;
}

#main-ctn1{
    margin: 0%;
    padding-top: 60px;
    margin-left: 4%;
    padding-left: 0%;
}
#main-ctn2{
    margin: 0%;
    padding-top: 60px;
    margin-left: 4%;
    padding-left: 0%;
}
.generalTextGrey{
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.61;
        letter-spacing: normal;
        color: #000000;
      padding-top: 15px;
}
#automaticTxt{
    margin-top: -20px;
}
#transmissionTxt{
    margin-top: -20px;
}
#four-wheel{margin-top: -20px;}
.greybxTxt{
    margin: 1% 8%
}
#manual{margin-top: -20px;}
.logos{
    padding: 3% 3%;
}

#greyBox{
    height: 625px;
    border-radius: 8px;
    background-color: #dedede;
    width: 85%;
    padding-top: 7%;
}
.inside-panel{height: 100%;}
#last-box{
    padding-bottom: 40px;
}
@media (min-width: 375px){
    .bodyContent{
        margin: 0% 9%;
        clear: both;
    }
    
    #GoldenLogo{
        padding: 0% 4%;
    }
    .bbb{
        padding-bottom: 10%;
    }
    
}
@media (min-width: 500px){
    .logos {
        padding: 3% 23%;
    }
    #greyBox{
        width: 390px;
        height: 567px;
    }
    #GoldenLogo{
        margin-top: -3%;
        margin-left: auto;
    }
    .titles{
        white-space: nowrap;
      }
}
@media (min-width: 768px) { 
    .bodyContent {
        width: 350px;
        margin: 4% 15%;
    }
    .main-ctn{
        padding-top:70px;
        padding-top: 40px;
    }
    #main-ctn1{
        padding-top:70px;
        padding-top: 40px;
    }
    #main-ctn2{
        
        padding-top: 40px;
    }
    
    .bbb{
        padding-bottom: 0%;
    }
    #AAChicagoTxt{
        padding: 4% 3%;
        width: 355px;
    }
    #greyBox{
        width: 390px;
        height: 457px;
        border-radius: 8px;
        background-color: #dedede;
    }
   
    #side_panel{
        margin-left: 0;
    }
    .inside-panel {
        margin-left: -14%;
    
    }
}
@media (min-width: 840px) { 
    #side_panel{
        margin-left: -2%;
    }
}
@media (min-width: 850px) { 
    .inside-panel {
        margin-left:0%;
}
}
@media (min-width: 1200px) { 
    .main-ctn1{
        margin-left: 0%;
    }
    #main-ctn2{
        float: right;
        margin-top: -890px;
        
    }
    .logos{
        padding: 6% 10%;
    }
    #GoldenLogo{
        margin-top: -3%;
        margin-left: 16%;
    }
    
    .bbb{
        margin-top: 4%;
        margin-bottom: 7%;
    }
    .Nationwide{
        margin-top: 0%;
        margin-left: 5%;
    }
    #AAChicagoTxt{
        margin: 4% 0%;
        margin-left: 12%;
        padding-top: 4px;
        width: 385px;
    }
    .generalTextGrey{
        width: 385px;
    }
}


