@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Rubik:700&display=swap');

.bodyContent {
    margin: 0% 9%;
    clear: both;
    padding: 7% 0%;
    width: 300px;
    }
    .extraBold{
        font-size: 18px;
        font-weight: 700;
    }
    #emailLink{
        color:#000000;
        text-decoration: none;
    }
    #p4{
        padding-top: 0px;
    }
    #p2{
        padding-top: 42px;
    }
    #emailLink{
        margin-bottom: 60px;
        margin-left: auto;
    }
    .main-ctn{
        margin: 0%;
        padding-top:60px;
        margin-left: 4%;
        padding-left: 0%;
    }
    .titles{
        padding-bottom: 15px;
    }
    .generalText{
        padding-bottom: 15px;
    }
    #espText {
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: center;
    }
@media (min-width: 375px){
    .generalText {
        width: 300px;
    }
}
@media (min-width: 500px){
    .generalText{
        width: 359px;
    }
    #aactTxt{
        width: 385px;
    }
}
@media (min-width: 768px) { 
    .generalText{
        width: 359px;
    }
    #aactTxt{
        width: 385px;
    }
    .bodyContent {
    padding: 2% 0%;
    width: 385px;
    }
    #emailLink{
        margin-top: 0%;
        margin-left: 0px;
    }
    .inside-panel{
        height:100%
    }
    .inside-panel {
        margin-left: -14%;
    }
}
@media (min-width: 768px) { 
.inside-panel {
    margin-left: -10%;
    }
    
}
@media (min-width: 840px) { 
    #side_panel{
        margin-left: -2%;
    }
}
@media (min-width: 850px) { 
    .inside-panel {
        margin-left:0%;
}
@media (min-width: 1200px) {
    .inside-panel{
        height: 1198px;
    }
    #p4{
        float: right;
        width: 385px;
        margin-top: -655px;
        margin-right: -7.5%;
    }
    #emailLink{
        margin-top: 10px;
        margin-left: 0px;
    }
    
}
@media (min-width: 1280px) {

}
@media (min-width: 1280px) {
    
    #p4{
        margin-right: -7.5%;
    }
}
@media (min-width: 1300px){
    #p4{
        margin-right: -0.1%;
    }
}