


 .bodyContent{
    margin: 0% 9%;
    clear: both;
}



@media (min-width: 375px){

}
@media (min-width: 500px){

}
@media (min-width: 768px) { 
    .bodyContent{ margin-top: 7%;}
}
@media (min-width: 992px) { 

}
@media (min-width: 1200px) { 
    .inside-panel { height: 1187px;}
}
