@charset "UTF-8";
 .titles{
    font-size: 28px;
  font-weight: 500;
}
 .bodyContent{
    margin: 5% 9%;
    clear: both;
}
.boldTxt{
    font-weight: 500;
}
.italicTxt{
    font-style: italic;
    font-size: 18px;
    font-weight: 400;
}
.generalText{
  text-align: left;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.61;
  letter-spacing: normal;
} 
.main-ctn{
    padding-top:10px
}
#p1{padding-top:20px;}
#title2{padding-top:30px}
.inside-panel{height: 100%;}
@media (min-width: 375px){

}
@media (min-width: 500px){

}
@media (min-width: 768px) { 
    .bodyContent{ 
        margin-top: 7%;
        padding-bottom: 80px;
    }
    #p4{padding-top:60px;}
    #side_panel {margin-left:0px}
    .main-ctn{
        padding-top:80px
    }
    .inside-panel {
        margin-left: -14%;
    }
}
@media (min-width: 792px) {

}
@media (min-width: 840px) { 
    #side_panel{
        margin-left: -2%;
    }
}
@media (min-width: 850px) { 
    .inside-panel {
        margin-left:0%;
}
@media (min-width: 992px) { 
    /* .inside-panel { min-height:  1825px;} */
}
@media (min-width: 1200px) { 
    /* .inside-panel { height:  1825px;} */
    .bodyContent{
        margin: 0% 24%;
        width: 359px;
    }
    
}
@media (min-width: 1336px){
    #ctn2{
        margin-left: -10%;
    }
}
