@charset "UTF-8";
/* CSS Document 375px Small Phone size*/
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap');

body{
  font-family: 'Rubik', sans-serif;
}

#header{
background-color: rgba(0,0,0,1.0);
background: url("../Images/image3.jpg");
opacity : 0.2;
background-repeat: no-repeat;
background-blend-mode: lighten;
background-size: 100%;
height: 120px;

}
.logo-2 {
    clear: inherit;
    object-fit: contain;
    padding-top: 42px;
    padding-left: 44px
}
.image3{

  height: 120px;
}
.main_image{
  width: 100%
  /* height: 229px;
  margin: 10px; */
}
.generalText{
  text-align: center;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
}
#PersonalQ{
/* width: 400px; */
  height: 102px;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.13;
  color: #000000;
  margin-top: 30px;
}
.mainText{
  font-family: Rubik;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
}
.main_coupon{
  width: 100%;
  padding: 3%;
}
#customers1{
  font-size: 24px;
  font-weight: 500;
  margin-top: 30px;
  padding: 15px 12px;
  background-color: #980000;
  color: #ffffff;
}
#customers2{
  padding-top: 20%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}
#customers3{
  padding-bottom:20px;
  }
  #customers4{
    padding-top: 5%;
    padding-bottom:20px;
    }
#español{
  background-color:#000000;
  color: #da9500; 
  font-size: 36px;
  font-weight: 500;
  padding: 12px 55px;
  font-weight: 500;
  line-height: 1.11;
  height: 80px;
}
#side_panel{
  background-color: #230000;
}
#footer{
  background-color:#000000;
}
#textbox{
  color: #ffffff;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  
  /* font-family: "Rubik-Regular";  */
}
#SaulName{
  font-size:36px;
  font-weight: 500;

}
.ft_logos{
  padding-top: 41px;
  padding-left: 10px;
  width:50px;
  
}
.buttons{
  background-color:#ffffff;
  border: none;
  padding: 16px 28px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  text-decoration: none;
  color:#000000;
  border-radius: 8px;
  font-size: 24px;
  margin-left: 4%;
  margin-top: 6%;
  /* font-family: "Rubik-Regular"; */

}
.coupons{
  width: 110%;
  padding: 7%;
    /* padding-left: 20%;
    padding-bottom: 30px; */
}
#ft_1logo{
  margin-left: 90px;
  
}
#ft_2logo{
  width:80px;
}
#ft_3logo{
  width:60px;
}
#ft_4logo{
  margin-right: 90px;

}
#ftLogo{
  padding-left: 20%;

}
#ftText{
  padding-top: 22px;
  color: #ffffff;
  text-align: center;
  padding-left:30%;
  font-weight: 400;
  letter-spacing: normal;
  margin-bottom: 34px;
}
@media (min-width: 375px) {

}
@media (min-width: 500px) {
  .main_coupon{
    margin-left: 30%;
  }
  header{
    width: 110%;
    }
}
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
  #header{}
  .main_coupon{
    padding: 7%;
  }
  
  #side_panel{
    width: 40%;
  }
  #ftLogo{padding-left: 30%;}
  #ftText{padding-left:40%;}
  #side_panel{
    width: 150%;
  }
}


/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
  #ftText{
    padding-left:50%;
  }
  #side_panel{
    margin-top: -85%;
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
  #ftText{
    padding-left:60%;
  }
    }